<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="../media/img/logo.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/jquery-3.7.1.min.js"></script>
    <script src="../js/script.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <title>Programming on PHP</title>
  </head>
  <body>
    <div
      class="container-fluid"
      style="background-image: url(../media/img/background.png)"
    >
      <header>
        <nav class="navbar fixed-top navbar-expand-lg navbar-purple">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">
              <img
                src="../media/img/logo.png"
                alt=""
                width="30"
                height="28"
                class="d-inline-block align-text-top"
              />
              PPHP
            </a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarScroll"
              aria-controls="navbarScroll"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
              <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="../index.html"
                    >Главная</a
                  >
                </li>
              </ul>
              <a
                class="navbar-nav nav-link navbar-nav-scroll"
                aria-current="page"
                href="№"
              >
                Выход
              </a>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="container">
          <div class="main-body">
            <div class="row">
              <div id="avatar" class="col-lg-4">
                <div class="card">
                  <div class="card-body">
                    <div
                      class="d-flex flex-column align-items-center text-center"
                    >
                      <img
                        src="../media/img/avatar.jpg"
                        alt="Admin"
                        class="rounded-circle p-1 bg-black-purple"
                        width="110"
                        height="110"
                      />
                      <div class="mt-3">
                        <h4>Вася Четкий</h4>
                        <p class="text-secondary mb-1">
                          Full Stack Разработчик
                        </p>
                        <form
                          class="mt-3"
                          action=""
                          method="post"
                          enctype="multipart/form-data"
                        >
                          <div class="mb-3">
                            <label for="formFile" class="form-label text-pink"
                              >Изменить аватарку</label
                            >
                            <input
                              class="form-control form-control-sm"
                              id="formFileSm"
                              type="file"
                            />
                          </div>
                          <input
                            type="submit"
                            class="ra-btn btn btn-outline-info mt-0"
                            value="Изменить"
                          />
                        </form>
                      </div>
                    </div>
                    <hr class="my-4" />
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div id="settings" class="card">
                  <h2 class="text-pink text-center pt-2">Настройки</h2>
                  <div class="card-body">
                    <div class="row mb-3">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Ф.И.</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input
                          type="text"
                          class="form-control"
                          value="Вася Четкий"
                        />
                      </div>
                    </div>
                    <div class="row mb-3">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Email</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input
                          type="text"
                          class="form-control"
                          value="Vasy@pasha.com"
                        />
                      </div>
                    </div>

                    <div class="row mb-3">
                      <div class="col-sm-3">
                        <h6 class="mb-0">Пароль</h6>
                      </div>
                      <div class="col-sm-9 text-secondary">
                        <input
                          type="text"
                          class="form-control"
                          value="Bay Area, San Francisco, CA"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-3"></div>
                      <div class="col-sm-9 text-secondary">
                        <input
                          type="submit"
                          class="ra-btn btn btn-outline-info"
                          value="Сохранить изменения"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="learning row">
                  <div class="col-sm-10">
                    <div class="card">
                      <div class="card-body">
                        <h5
                          class="d-flex align-items-center mb-3 text-black-purple"
                        >
                          Лекции
                        </h5>
                        <div
                          class="col d-flex justify-content-center align-items-center"
                        >
                          <p
                            class="col-md-9 ps-3 pt-2"
                            style="
                              background-color: rgba(189, 154, 255, 0.316);
                              border-radius: 20px;
                              border: 1px rgb(189, 154, 255) solid;
                            "
                          >
                            PHP №1 Первые шаги <br />
                            <span
                              class="text-secondary mt-0"
                              style="font-size: 14px"
                            >
                              Данная лекция расскажет о синтексисе PHP и его
                              логике.
                            </span>
                          </p>
                          <span
                            class="col-md-6 btn btn-outline-success ms-2 mt-0 mb-3"
                            style="width: 158px; height: 40px; font-size: 16px"
                            >Пройденно</span
                          >
                        </div>
                        <div
                          class="col d-flex justify-content-center align-items-center"
                        >
                          <p
                            class="col-md-10 ps-3 pt-2"
                            style="
                              background-color: rgba(189, 154, 255, 0.316);
                              border-radius: 20px;
                              border: 1px rgb(189, 154, 255) solid;
                            "
                          >
                            PHP №2 Простые уравнения <br />
                            <span
                              class="text-secondary mt-0"
                              style="font-size: 14px"
                            >
                              В данной лекции вы научитесь решать простые
                              уравнения.
                            </span>
                          </p>
                          <a
                            class="col-md-2 ra-btn btn btn-outline-info ms-2 mt-0 mb-3"
                            style="width: 100px; height: 40px"
                            >Пройти</a
                          >
                        </div>
                        <div
                          class="col d-flex justify-content-center align-items-center"
                        >
                          <p
                            class="col-md-9 ps-3 pt-2"
                            style="
                              background-color: rgba(189, 154, 255, 0.316);
                              border-radius: 20px;
                              border: 1px rgb(189, 154, 255) solid;
                            "
                          >
                            PHP №1 Первые шаги <br />
                            <span
                              class="text-secondary mt-0"
                              style="font-size: 14px"
                            >
                              Данная лекция расскажет о синтексисе PHP и его
                              логике.
                            </span>
                          </p>
                          <span
                            class="col-md-6 btn btn-outline-success ms-2 mt-0 mb-3"
                            style="width: 158px; height: 40px; font-size: 16px"
                            >Пройденно</span
                          >
                        </div>
                        <div
                          class="col d-flex justify-content-center align-items-center"
                        >
                          <p
                            class="col-md-10 ps-3 pt-2"
                            style="
                              background-color: rgba(189, 154, 255, 0.316);
                              border-radius: 20px;
                              border: 1px rgb(189, 154, 255) solid;
                            "
                          >
                            PHP №2 Простые уравнения <br />
                            <span
                              class="text-secondary mt-0"
                              style="font-size: 14px"
                            >
                              В данной лекции вы научитесь решать простые
                              уравнения.
                            </span>
                          </p>
                          <a
                            class="col-md-2 ra-btn btn btn-outline-info ms-2 mt-0 mb-3"
                            style="width: 100px; height: 40px"
                            >Пройти</a
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer
        class="text-center text-white"
        style="background-color: #c6bcfe; margin-top: 256px"
      >
        <div class="container p-4 pb-0">
          <p class="d-flex justify-content-center align-items-center">
            <span class="me-3">Присоедениться</span>
            <button type="button" class="btn btn-outline-light btn-rounded">
              Регистрация
            </button>
          </p>
        </div>

        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          © 2023 Copyright:
          <a class="text-white" href="#banner">PPHP</a>
        </div>
      </footer>
    </div>
  </body>
</html>
